<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh-Hans</key>
	<string>Chinese Simplified</string>
	<key>zh-Hant</key>
	<string>Chinese Traditional</string>
	<key>en</key>
	<string>English</string>
	<key>当前语言是</key>
	<string>Current language is </string>
</dict>
</plist>
